<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
              <table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Índice</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="genero : ${generos}">
        <td th:text="${genero.nombre}"></td>
    </tr>
    </tbody>
</table>
        <div>TODO write content</div>
    </body>
</html>
