<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
      <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, inictial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="estilos.css">
    </head>
    
    <body>
         <form action="" method="POST" id="form">
       <div class="form">
         <h1>Iniciar Sesión</h1>
         <div class="grupo">
           <input type="text" name="" id="name" required><span class="barra"></spam>
             <label for="">Nombre</label>
       </div>
        <div class="grupo">
          <input type="email" name="" id="name" required><span class="barra"></spam>
            <label for="">Email</label>
      </div>
       <div class="grupo">
         <input type="contraseña" name="" id="name" required><span class="barra"></spam>
           <label for="">Contraseña</label>
     </div>
     <button type="submit">Iniciar sesión</buttontton>
     </div>
              <div>
       <p>
           Has olvidado tu contraseña? <a href="recuperar">Recuperar contraseña</a>
       </p>
       <p>
         No tienes una cuenta? <a href="registro"> Crear cuenta</a>
         </p>
       </div>
  </form>
    </body>
</html>
