<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock|PlayList</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script&family=Tenali+Ramakrishna&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="playlist.css">
    <link rel="stylesheet" href="../static/playlist.css" type="text/css"/>
    <link rel="stylesheet" href="../static/playlist.css" type="text/css">



</head>
<body>

    <div class="app">
        <aside class="menu-aside">
            <div class="logo">
                <span class="i-logo i-logo2"></i>ROCKOLA</span>

            </div>
            <ul class="playlists" id="menuMusic">

                <li class="playlist"><a href="#" class="play playEstudiar">CANCIONES</a></li>
                <li class="playlist" ><a href="#" class="play playArtista">ARTISTAS</a></li>
                <li class="playlist"><a href="#" class="play playGéneros">GÉNERO</a></li>
                <li class="playlist"><a href="#" class="play playPlayList">PLAYLIST</a></li>
                <li class="playlist"><a href="#" class="play playRegistrarse"><i class="fa fa-registered" aria-hidden="true"></i> REGISTRARSE</a></li>
            </ul>
        </aside>

   <div class="album" id="album">
        
            <div class="user">

                <span class="user-desc"><i class="fa fa-user-circle" aria-hidden="true"></i> Iniciar Sesión</a></span>
            </div>
            <div class="animate">
            </div>
            <div class="album-description">
                    <div class="album-img">
                        <img src="playlist-neon.jpg"width="550" height="285">
                    </div>
                </div>


            <div class="album-list-music">
                <ul class="list-music" id="lista-music">

                    <li class="music">
                        <a href="#" class="btn play-music"><i class="far fa-play-circle"></i></a>
                        <h3>Nombre de artista</h3>
                        <h3 class="name" id="name">Nombre de musica</h3>
                        <h3 class="time">1.44 s</h3>
                        <a href="#" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        <a href="#" class="add"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                    </li>
                  <li class="music">
                        <a href="#" class="btn play-music"><i class="far fa-play-circle"></i></a>
                        <h3>Nombre de artista</h3>
                        <h3 class="name" id="name">Nombre de musica</h3>
                        <h3 class="time">1.44 s</h3>
                        <a href="#" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        <a href="#" class="add"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                    </li>
                  <li class="music">
                        <a href="#" class="btn play-music"><i class="far fa-play-circle"></i></a>
                        <h3>Nombre de artista</h3>
                        <h3 class="name" id="name">Nombre de musica</h3>
                        <h3 class="time">1.44 s</h3>
                        <a href="#" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        <a href="#" class="add"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                    </li>
                  <li class="music">
                        <a href="#" class="btn play-music"><i class="far fa-play-circle"></i></a>
                        <h3>Nombre de artista</h3>
                        <h3 class="name" id="name">Nombre de musica</h3>
                        <h3 class="time">1.44 s</h3>
                        <a href="#" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        <a href="#" class="add"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                    </li>

                </ul>
            </div>
        </div>
        </div>

        <div class="reproducir">
            <div class="controles" id="controles">
                <a href="#" class="btn control atras"><i class="fas fa-backward"></i></a>
                <a href="#" class="btn control play-musica"><i class="far fa-play-circle"></i></a>
                <a href="#" class="btn control siguiente"><i class="fas fa-forward"></i></a>
                <a href="#" class="btn control pausa"><i class="far fa-pause-circle"></i></a>
                <div class="volumen">
                    <a href="#" class="subir"></a>
                    <a href="#" class="bajar"></a>
                </div>

            </div>
        </div>

        <script src="rock.js"></script>
</body>
</html>