<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="registro.css">


</head>

<body>
  <div class="signupFrm">
    <form action="" class="form">
      <h1 class="title">Registro</h1>

      <div class="inputContainer">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">Email</label>
      </div>

      <div class="inputContainer">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">Nombre</label>
      </div>

      <div class="inputContainer">
        <input type="date" class="input" id="start" name="trip-start"
               value="2018-07-22"
               min="1930-01-01" max="2022-12-31" placeholder="a">
        <label for="" class="label" >Fecha de nacimiento</label>
      </div>

      <div class="inputContainer">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">Nacionalidad</label>
      </div>

      <div class="inputContainer">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">Número de teléfono</label>
      </div>


      <div class="inputContainer">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">contraseña</label>
      </div>

      <div class="inputContainer">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">Confirmar contraseña</label>
      </div>

      <input type="submit" class="submitBtn" value="Sign up">
    </form>
  </div>





</body>

</html>
